
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Assignment1</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">           
            <a class="nav-item nav-link" href="#">Q6</a>
            <a class="nav-item nav-link" href="#">Q7</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Assignment 0</h1>
        <p class="lead">
          Student ID: 1001829098 <br />
          Name: Ajith Sivadas <br>
        </p>
      </div>

    </div>
    {% block head %} 
<!--Placeholder for body-->
{% block body %}
<div class="container">
  {% if table|length>0 %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Salary</th>
          <th scope="col">Room</th>
          <th scope="col">Telephone</th>
          <th scope="col">Picture</th>
          <th scope="col">Keywords</th>
   
        </tr>
      </thead>
      <tbody>
        {% for data in table %}
        <tr>
          <td>{{ data[0][0] }}</td>
          <td>{{ data[0][2] }}</td>
          <td>{{ data[0][3] }}</td>
          <td>{{ data[0][4] }}</td>
          <td>{{ data[0][5] }}</td>
          <td>{{ data[0][6] }}</td>
          <td>{{ data[0][7] }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h4>No data available..</h4>
  {% endif %}
</div>
{% endblock %} 
{% endblock %} 
  </body>

</html>


